body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal en la página */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Difuminar la imagen de fondo */
  z-index: -1;
  opacity: 1; /* Hacer que el fondo sea más sutil */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

/* .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

.container {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura del viewport */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Esto permitirá que el contenido crezca y empuje el footer hacia abajo */
}

h1 {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  
  letter-spacing: 3px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}



nav {
  display: flex;
  width: 80vw;
  justify-content: flex-start;
  padding: 1rem;
}



/* Footer general styling */
.footer {
  background-color: #f90d0d;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 50px;
}

/* Contenedor del contenido del footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

/* Estilo del logo */
.footer-logo {
  display: flex; /* Hacemos que el contenedor use flexbox */
  align-items: center; /* Alineamos verticalmente la imagen y el texto */
  justify-content: center; /* Alineamos horizontalmente el texto y la imagen */
}

/* Estilo del logo */
.footer-logo img {
  height: 30px;
  width: auto;
  margin-left: 10px; /* Un pequeño margen para separar el texto de la imagen */
}

/* Estilo de los iconos */
.footer-icons img {
  height: 30px;
  margin: 0 10px;
  transition: transform 0.2s;
}

/* Efecto hover en los iconos sociales */
.footer-icons img:hover {
  transform: scale(1.2);
}

/* Asegura que los íconos estén alineados correctamente */
.footer-icons a {
  text-decoration: none;
  display: inline-block;
}

footer>img {
  width: 500px;
  margin: 0;
}

footer>p {
  margin: 0;
  padding-top: 0.7rem;
}

/* Estilos generales para el formulario */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

/* Estilo para los labels */
form label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* Estilo para los inputs */
form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

/* Cambiar el color del borde cuando el campo está en foco */
form input[type="text"]:focus,
form input[type="email"]:focus {
  border-color: #007BFF;
  outline: none;
}

/* Estilo para el botón de enviar */
form button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Estilo para los mensajes de error */
form p {
  margin-top: 10px;
  font-size: 14px;
}

/* Estilos para el mensaje de error */
form p[style*="red"] {
  color: red;
}

/* Estilos para el mensaje de éxito */
form p[style*="green"] {
  color: green;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-grid img {
  max-width: 100%; /* Limita el ancho máximo al 100% del contenedor */
  max-height: 200px; /* Ajusta la altura máxima para que no sobresalga */
  object-fit: cover; /* Ajusta la imagen sin distorsionar */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;

}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #892c2c96;
  color: white;
}

.dark>a {
  color: white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 55px;
  border-radius: 50px;
  position: relative; /* Necesario para que ::before se posicione relativo al enlace */
  transition: color 0.3s ease; /* Transición para el color */
}

.uppercase-text {
  text-transform: uppercase;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0; /* Coloca la línea justo debajo del enlace */
  left: 0;
  width: 0;
  height: 3px;
  background-color: #f90d0d;
  transition: width 0.5s ease; /* Controla la velocidad de la animación */
}

a:hover::before {
  width: 100%; /* Hace que la línea se expanda de izquierda a derecha */
}





.glowing-text {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #ff4e50, 0 0 30px #ff4e50, 0 0 40px #ff4e50, 0 0 50px #ff4e50;
  }
  to {
    text-shadow: 0 0 20px #ff4e50, 0 0 30px #ff4e50, 0 0 40px #ff4e50, 0 0 60px #ff4e50, 0 0 80px #ff4e50;
  }
}

.navbar {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}